# sqllite config example

import os

# DB_FILE = os.path.join(os.path.abspath(os.path.dirname(__file__)), 'database.db')
# DB_CNX = 'sqlite:///' +  DB_FILE



## mysql config example

MYSQL_HOST=""
MYSQL_USER=""
MYSQL_PASS=""
MYSQL_DB=""

DB_CNX = f"mysql://{MYSQL_USER}:{MYSQL_PASS}@{MYSQL_HOST}/{MYSQL_DB}"
