# app config
import os

BASEDIR = os.path.abspath(os.path.dirname(__file__))
DATA_BASEDIR = os.path.join(BASEDIR, "../data/")
MAX_RECENT_COMPOSITIONS = 5
ALLOWED_EXTENSIONS = {'wav', 'mp3', 'ogg', 'm4a'}
UPLOAD_MAX_SIZE = 50*1024*1024 # 50MiB

# sqllite config example


# DB_FILE = os.path.join(os.path.abspath(os.path.dirname(__file__)), 'database.db')
# DB_CNX = 'sqlite:///' +  DB_FILE



## mysql config example

MYSQL_HOST=""
MYSQL_USER=""
MYSQL_PASS=""
MYSQL_DB=""

DB_CNX = f"mysql://{MYSQL_USER}:{MYSQL_PASS}@{MYSQL_HOST}/{MYSQL_DB}"

MAIL_SERVER = ""
MAIL_PORT = 0
MAIL_USERNAME = ""